@model Category
@{
    ViewData["Title"] = "Categoryetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Detailed information about <b>@Model.CategoryName</b> Category
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <tbody>
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(model=>model.ParentID)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(model=>model.ParentID)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(model=>model.CategoryID)</b>
                            </td>
                            <td>@Html.DisplayFor(model=>model.CategoryID)</td>
                        </tr>

                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(model=>model.CategoryName)</b>
                            </td>
                            <td>@Html.DisplayFor(model=>model.CategoryName)</td>
                        </tr>

                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(model=>model.Active)</b>
                            </td>

                            @if (Model.Active == true)
                            {
                                <td class="is-active">
                                    @Html.DisplayFor(model=>model.Active)
                                </td>
                            }

                            else
                            {
                                <td class="is-inactive">
                                    @Html.DisplayFor(model=>model.Active)
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <input type="hidden" asp-for="CategoryID" />
        @if (Model.Active == true)
        {
            <a asp-action="CategoryEdit" asp-route-id="@Model.CategoryID" class="btn btn-primary">EDIT</a>
            <a asp-action="CategoryDelete" asp-route-id="@Model.CategoryID" class="btn btn-danger">DEACTIVATE</a>
        }
        else
        {
            <a asp-action="CategoryEdit" asp-route-id="@Model.CategoryID" class="btn btn-primary">EDİT</a>
        }
        <a asp-action="CategoryIndex" class="btn blue">CATEGORIES TABLE</a>
    </div>
</div>
