@model Supplier
@{
    ViewData["Title"] = "SupplierDelete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
    @if (Model.Active == true)
    {
        <h3>Are you sure you want to <b>DEACTIVATE</b> this Supplier ?</h3>
        <br />
        <table class="table table-bordered table-striped table-condensed flip-content">
            <tbody>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model=>model.SupplierID)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model=>model.SupplierID)
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model=>model.BrandName)</b>
                    </td>
                    <td>@Html.DisplayFor(model=>model.BrandName)</td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model=>model.PhotoPath)</b>
                    </td>
                    <td>@Html.DisplayFor(model=>model.PhotoPath)</td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model=>model.Active)</b>
                    </td>

                    @if (Model.Active == true)
                    {
                        <td class="is-active">
                            @Html.DisplayFor(model=>model.Active)
                        </td>
                    }

                    else
                    {
                        <td class="is-inactive">
                            @Html.DisplayFor(model=>model.Active)
                        </td>
                    }
                </tr>
            </tbody>
        </table>
        <br />
        <div>
            <form asp-action="SupplierDelete" method="post">
                <input type="hidden" asp-for="SupplierID" />
                <input type="submit" value="DEACTIVATE" class="btn btn-danger" />
                <a asp-action="SupplierIndex" class="btn blue">SUPPLIERS TABLE</a>
            </form>
        </div>

    }
    else
    {
        <div>
            <h4>The Supplier named <q>@Model.BrandName</q> has already been marked as DEACTIVATED. To make changes, you can use SUPPLIER EDIT page.</h4>
            <br>
            <a asp-action="SupplierEdit" asp-route-id="@Model.SupplierID" class="btn yellow">EDİT</a>
            <a asp-action="SupplierIndex" class="btn blue">SUPPLIERS TABLE</a>
        </div>
    }
</div>
