@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "SupplierIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <!-- BEGIN CATEGORY TABLE-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>General View of <b>Suppliers</b>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover" style="cursor:pointer;">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model=>model.SupplierID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model=>model.BrandName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model=>model.PhotoPath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model=>model.Active)
                                </th>
                                <th style="text-align:center">
                                    CRUD
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.Active == true)
                                    {
                                        <td>@Html.DisplayFor(model=>item.SupplierID)</td>
                                        <td>@Html.DisplayFor(model=>item.BrandName)</td>
                                        <td>
                                            <img src="~/img/@item.PhotoPath" height="32" width="72">
                                        </td>
                                        <td class="@(item.Active ? "is-active" : "is-inactive")">@Html.DisplayFor(modelItem=>item.Active)</td>
                                        <td>
                                            <a asp-action="SupplierDetails" asp-route-id="@item.SupplierID" class="btn btn-info">DETAİLS</a>
                                            <a asp-action="SupplierEdit" asp-route-id="@item.SupplierID" class="btn btn-primary">EDİT</a>
                                            <a asp-action="SupplierDelete" asp-route-id="@item.SupplierID" class="btn btn-danger">DEACTIVATE</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(model=>item.SupplierID)</td>
                                        <td>@Html.DisplayFor(model=>item.BrandName)</td>
                                        <td><img src="~/img/@item.PhotoPath" height="32" width="72"></td>
                                        <td class="@(item.Active ? "is-active" : "is-inactive")">@Html.DisplayFor(modelItem=>item.Active)</td>
                                        <td>
                                            <a asp-action="SupplierDetails" asp-route-id="@item.SupplierID" class="btn btn-info">DETAİLS</a>
                                            <a asp-action="SupplierEdit" asp-route-id="@item.SupplierID" class="btn btn-primary">EDİT</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END CATEGORY TABLE-->
        <p>
            <a asp-action="SupplierCreate" asp-controller="Admin" class="btn btn-success">CREATE NEW SUPPLIER</a>
        </p>
    </div>
</div>

